* {
  margin: 0;
  padding: 0;
  --locked-color: #5fadbf;
  --unlocked-color: #ff5153;
}

html {
  scroll-behavior: smooth;
}

/* .custom-btn {
    width: 150px;
    height: 30px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    margin: 5px;
    margin-right: 10px;
  }

  .btn-6 {
    background: rgb(252, 218, 30);
    background: radial-gradient(circle, rgb(37, 37, 37) 0%, rgb(0, 0, 0) 100%);
    padding: 0px;
    border: none;
  }
  .btn-6 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-6:before,
  .btn-6:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
  }
  .btn-6:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
  }
  .btn-6:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
  }
  .btn-6:hover{
    background: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-weight: medium;
    box-shadow: none;
  }
  .btn-6:hover:before {
    transition: all 500ms ease;
    height: 100%;
  }
  .btn-6:hover:after {
    transition: all 500ms ease;
    height: 100%;
  }
  .btn-6 span:before,
  .btn-6 span:after {
    position: absolute;
    content: "";
  }
  .btn-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .btn-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .btn-6 span:hover:before {
    width: 100%;
  }
  .btn-6 span:hover:after {
    width: 100%;
  } */

.clear__workspace {
  width: 150px;
  height: 35px;
  border: none;
  outline: none;
  color: #fff;
  background: radial-gradient(circle, rgb(37, 37, 37) 0%, rgb(0, 0, 0) 100%);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 5px;
  margin-left: 15px;
}

.clear__workspace::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 5px;
}

.clear__workspace:active {
  color: #ffffff;
}

.clear__workspace:active:after {
  background: transparent;
}

.clear__workspace:hover:before {
  opacity: 1;
}

.clear__workspace:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgb(37, 37, 37) 0%, rgb(0, 0, 0) 100%);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.custom-button {
  width: 150px;
  height: 30px;
  border: none;
  outline: none;
  color: #fff;
  background: radial-gradient(circle, rgb(37, 37, 37) 0%, rgb(0, 0, 0) 100%);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 5px;
  margin-right: 15px;
}

.custom-button::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 5px;
}

.custom-button:active {
  color: #ffffff;
}

.custom-button:active:after {
  background: transparent;
}

.custom-button:hover:before {
  opacity: 1;
}

.custom-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgb(37, 37, 37) 0%, rgb(0, 0, 0) 100%);
  left: 0;
  top: 0;
  border-radius: 5px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Weight Unit toggle */
.toggle-button-cover {
  padding: 2px;
  display: table-cell;
  position: relative;
  width: 80px;
  height: 32px;
  box-sizing: border-box;
  border-radius: 50px;
  border: rgb(14, 132, 175) solid 2px;
}

.button-cover {
  height: 32px;
  width: 80px;
  margin: 0px 0px;
  border-radius: 50px;
}

.button-cover:before {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 80px;
  height: 30px;
  margin: -15px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  /* border-radius: 100px; */
  /* background-color: #00ffd5; */
  height: 60px;
  margin-top: -30px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: radial-gradient(
    circle,
    rgb(37, 37, 37) 0%,
    rgb(0, 0, 0) 100%
  );
  transition: 0.3s ease all;
  z-index: 1;
}

#button-4 .knobs:before,
#button-4 .knobs:after {
  position: absolute;
  top: 18px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 6px 2px;
  background-color: #03a9f4;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-4 .knobs:before {
  content: "lbs";
  top: 17px;
}

#button-4 .knobs:after {
  content: "ton";
  top: -28px;
  right: 0px;
  left: 48px;
  background-color: #f44336;
}

#button-4 .checkbox:checked + .knobs:before {
  top: -28px;
}

#button-4 .checkbox:checked + .knobs:after {
  top: 17px;
}

#button-4 .checkbox:checked ~ .layer {
  border: 0px;
}

/** Custom Select **/
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
.custom-select-wrapper select {
  display: none;
}
.custom-select {
  position: relative;
  display: inline-block;
}
.custom-select-trigger {
  position: relative;
  display: block;
  padding: 0 30px 0 10px;
  width: 85px;
  font-size: 18px;
  font-weight: 300;
  color: rgb(3, 31, 41);
  line-height: 25px;
  background: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  margin: 0px 10px;
  top: 8px;
}

.custom-select-trigger#sel_grade {
  width: 45px;
}

.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  top: 50%;
  right: 10px;
  margin-top: -3px;
  border-bottom: 2px solid rgb(3, 31, 41);
  border-right: 2px solid rgb(3, 31, 41);
  border-bottom-right-radius: 2px;
  transform: rotate(45deg) translateY(-50%);
  transition: all 0.4s ease-in-out;
  transform-origin: 50% 0;
}
.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  max-height: 60vh;
  overflow-y: overlay;
  margin: 15px 0;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
  background: #fff;
  transition: all 0.4s ease-in-out;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
}
.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}
.custom-options:before {
  position: absolute;
  display: block;
  content: "";
  bottom: 100%;
  right: 25px;
  width: 7px;
  height: 7px;
  margin-bottom: -4px;
  border-top: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  background: #fff;
  transform: rotate(45deg);
  transition: all 0.4s ease-in-out;
}
.option-hover:before {
  background: #f9f9f9;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 22px;
  border-bottom: 1px solid #b5b5b5;
  font-size: 18px;
  font-weight: 600;
  color: rgb(3, 31, 41);
  line-height: 35px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}
.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}
.custom-option:hover,
.custom-option.selection {
  background: #f9f9f9;
}

/* Righr side controls label */

/* Select */
/* .select-custom {
  height: 25px;
  width: 10vw;
  border: 0px;
  cursor: pointer;
  padding: 0px 5px;
  background-color: white;
  box-shadow: 2px 2px 0 rgb(0, 0, 0);
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
} */

/* ScrollBar Css */
/* ::-webkit-scrollbar {
  background: tansparent;
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 100px;
  border: 3px transparent solid white;
  box-shadow: inset 0px 0px 2px 1px hsl(230, 100%, 0%, 50%);
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 3px transparent solid;
  box-shadow: inset 0 0 0px 100px rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 0px 100px rgb(0, 0, 0);
} */

::-webkit-scrollbar-button {
  background: transparent;
  height: 100vh;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(255, 0, 0, 0);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /* background-color: #f5f5f5; */
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: none;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgba(12, 12, 12, 0.8)),
    color-stop(0.72, rgba(18, 24, 32, 0.8)),
    color-stop(0.86, rgba(2, 4, 10, 0.8))
  );
  transition: border 0.5s ease;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 0px 100px rgb(0, 0, 0);
}

/* Hamburger Menu */

.menu-overlay {
  visibility: hidden;
  transition: all 0.4s;
  opacity: 0;
}
.menu-overlay.open {
  visibility: visible;
  opacity: 1;
}

.menu-overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

#menuToggle {
  display: block;
  position: relative;
  top: 4px;
  right: 8px;
  /* left: 8px; */
  margin-left: 8px;
  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  /* color: #232323; */
  color: #d7e3e3;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 0;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ffee00;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 18vw;
  height: 100vh;
  margin: 12px 0 0 -18vw;
  padding: 50px;
  padding-top: 125px;
  overflow-y: auto;

  background-color: #000000ee;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

/* Lock Button */
.lock {
  margin: 5px;
  width: 20px;
  height: 15px;
  border: 3px solid var(--locked-color);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.lock:after {
  content: "";
  display: block;
  background: var(--locked-color);
  width: 3px;
  height: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3.5px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.lock:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  bottom: 100%;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  border: 3px solid var(--locked-color);
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom: 0;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* Locked Hover */
.lock:hover:before {
  height: 12px;
}
/* Unlocked */
.unlocked {
  transform: rotate(10deg);
}
.unlocked:before {
  bottom: 130%;
  left: 31%;
  margin-left: -11.5px;
  transform: rotate(-45deg);
}
.unlocked,
.unlocked:before {
  border-color: var(--unlocked-color);
}
.unlocked:after {
  background: var(--unlocked-color);
}
/* Unlocked Hover */
.unlocked:hover {
  transform: rotate(3deg);
}
.unlocked:hover:before {
  height: 10px;
  left: 40%;
  bottom: 124%;
  transform: rotate(-30deg);
}

/* Down Arrow home page */

.arrows {
  width: 60px;
  height: 74px;
  position: absolute;
  left: 50%;
  top: 60%;
  margin-left: -30px;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  padding: 15px;
}

.arrows:hover {
  cursor: pointer;
  transform: scale(1.2);
  background-color: #000000ad;
}

.arrows path {
  stroke: rgb(3, 31, 41);
  fill: transparent;
  stroke-width: 5px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
  stroke: rgb(18, 157, 207);
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
  stroke: rgb(14, 132, 175);
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
  stroke: rgb(3, 31, 41);
}

/* Mamnager Progress bar */

.progress {
  margin: 0 auto;
  margin-left: -3%;
  width: 100%;
  visibility: hidden;
  display: grid;
  grid-template-columns: 10% 90%;
}

.progress {
  padding: 2px 10px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

.progress label {
  color: #fff;
  font-size: 0.6em;
  letter-spacing: 1px;
  text-align: center;
  margin: auto;
}

.progress-bar {
  margin: 5px 0px;
  height: 2vh;
  border-radius: 4px;
  color: black;
  font-size: 0.6em;
  text-align: center;
  background-image: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  background-image: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  background-image: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25),
    inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25),
    inset 0 1px rgba(255, 255, 255, 0.1);
}

/* Autosave Toggle */
.autosave {
  position: relative;
  top: 150px;
  width: 14vw;
}

#toggle_checkbox {
  display: none;
}

#AS_label {
  display: block;
  width: 120px;
  height: 50px;
  transform: translateY(0%);
  cursor: pointer;
  margin: auto;
}

#AS_label:before {
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  border: 3px solid red;
}

#AS_label:after {
  top: 0;
  right: 0;
  width: 120px;
  height: 50px;
  border: 3px solid #143240;
}

#AS_label:before,
#AS_label:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-sizing: border-box;
  transition: 0.5s ease top, 0.5s ease left, 0.5s ease right, 0.5s ease width,
    0.5s ease height, 0.5s ease border-color;
}

#toggle_checkbox:checked + #AS_label:before {
  top: 0;
  left: 0;
  width: 120px;
  height: 50px;
  border-color: #143240;
}

#toggle_checkbox:checked + #AS_label:after {
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-color: rgb(0, 255, 34);
}

#autosave_label {
  display: block;
  color: rgb(255, 255, 255);
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  padding: 5px;
}

#autosave_label_OFF {
  display: block;
  color: red;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  padding: 5px;
}

/* #autosave_label_ON::before {
  display: block;
  color: rgb(0, 255, 34);
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  padding: 5px;
} */

#toggle_checkbox:checked ~ #AS_labels #autosave_label_OFF {
  display: none;
}

#autosave_label_ON {
  display: none;
}

#toggle_checkbox:checked ~ #AS_labels #autosave_label_ON {
  display: block;
  color: rgb(0, 255, 34);
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  padding: 5px;
}
