* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.8s ease;
}

a:hover {
  color: #ffee00;
}

h2 {
  padding: 5px;
  padding-left: 10px;
  color: #ffee00;
  font-weight: bold;
  letter-spacing: 3px;
}

.fa .fas {
  font-size: x-large;
}
.i {
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  text-align: center;
  overflow: hidden;
  padding: 5px;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  /* padding-right: 100px; */
}

.mobile-msg {
  display: none;
}

@media screen and (max-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: overlay;
    font-family: "Lato", sans-serif;
  }
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .viewport-container {
    display: none !important;
  }

  .mobile-msg {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .mobile-view-msg {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 25px;
    letter-spacing: 5px;
    flex-grow: 1;
  }

  .open {
    display: none !important;
  }
}

.viewport-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.controls {
  background: rgb(3, 31, 41);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  z-index: 50;
  height: 35px;
}

.controls label {
  margin-right: 10px;
  color: red;
  font-size: large;
  padding: 5px;
}

#pounds,
#kg {
  position: absolute;
  top: 5px;
  width: 35px;
  filter: invert();
}

.info_icon {
  width: 4vw;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info_icon > .fa {
  font-size: x-large;
  transition: 0.4s ease;
}

.info_icon > .fa:hover {
  font-size: xx-large;
  color: #ffee00;
}

.right__side__controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.views-container {
  flex-grow: 1;
  display: flex;
  background-image: url("../images/bg.jpg");
  background-size: cover;
}

.views {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: 80vh;
  /* margin: auto; */
  flex-grow: 100;
  margin: 10px;
  /* overflow: auto; */
  border-radius: 20px;
  padding: 15px;
}

.column__one {
  display: flex;
  flex-direction: column;
  /* padding-bottom: 30px; */
  border: 2px solid rgb(255, 255, 255);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 80vh;
  width: 50%;
}

/* Engine container styles*/
.engine__view {
  display: flex;
  flex-direction: column;
  height: 50%;
  max-height: 50%;
}

.engine__view-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ffffff;
}

.add__engine {
  display: flex;
  justify-content: flex-end;
}

.engine__view-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  overflow: auto;
  padding: 10px;
  padding-top: 5px;
}

.engine {
  min-width: 12vw;
  /* width: 12vw; */
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(255, 255, 255);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
}

.teffort {
  min-width: 8vw;
  /* min-width: 100px; */
  width: 8vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(255, 255, 255);
  padding: 5px;
}

.eweight {
  min-width: 8vw;
  /* min-width: 100px; */
  width: 8vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(255, 255, 255);
  padding: 5px;
}

.tweight {
  min-width: 10vw;
  /* min-width: 140px; */
  width: 10vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255);
  padding: 5px;
}

.engine_del {
  min-width: 2vw;
  width: 2vw;
  font-size: 1vw;
  /* height: 1.4vw; */
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
}

.fas {
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s ease;
}

.fas:hover {
  color: #ffee00;
}

.engine_del:hover {
  color: red;
}

.cargo_del:hover {
  color: red;
}

.engine__list {
  flex-grow: 1;
}

.display__engine {
  display: flex;
  flex-direction: column;
}

.display__tender {
  visibility: hidden;
}

/* Container Class for both Engines & Cargo */

.Container {
  display: flex;
  flex-direction: row;
  /* flex-grow: 1; */
  margin: 5px 0px;
}

.Container h1 {
  font-size: 1vw;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  text-align: center;
  /* display: flex;
      flex-direction: column;
      flex-grow: 1; */
  overflow: hidden;
  padding: 5px;
}

.Container select {
  margin-right: 13px;
  background-color: rgba(0, 0, 0, 0.24);
  font-size: 1vw;
  color: rgb(255, 255, 255);
  min-height: 2.5vw;
  height: 4vh;
  border: 2px solid #ffffff;
}

.Container select option {
  background-color: #082c3a;
}

.Container select:focus {
  outline: none;
}

.Container input {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1vw;
  text-rendering: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  transition: 0.2s ease;
}

.Container input:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: #082c3a 0px 0px 10px;
}

.Container i {
  font-size: 1vw;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  text-align: center;
  overflow: hidden;
  padding: 5px;
}

@keyframes append-animate {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

.new-Container {
  transform-origin: 50% 0;
  animation: append-animate 0.2s linear;
}

/*Result container styles*/
.result__view {
  flex-grow: 1;
}

.result__view-heading {
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result__view-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  overflow: auto;
  padding: 10px;
}

.train-weight {
  min-width: 8vw;
  width: 10vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(255, 255, 255);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
}

.max-pull {
  min-width: 8vw;
  width: 12vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(255, 255, 255);
  padding: 5px;
}

.net-pull {
  min-width: 8vw;
  width: 12vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255);
  padding: 5px;
}

.percent-pull {
  min-width: 8vw;
  width: 5vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
}

.result_list {
  flex-grow: 1;
}

.result__train-weight {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1vw;
}

.result_msg-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 10px;
}

.result_msg {
  border: 2px white;
  border-style: dashed;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1vw;
  font-weight: bold;
  letter-spacing: 1px;
  width: 30vw;
  height: 1.5vw;
  text-align: center;
  padding: 2px;
}

/*Cargo container styles*/
.column__two {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* padding-bottom: 20px; */
  border: 2px solid rgb(255, 255, 255);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 80vh;
  width: 50%;
}

.cargo__view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cargo__view-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ffffff;
}

.add__cargo {
  display: flex;
  justify-content: flex-end;
}

.cargo__view-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  overflow: auto;
  padding: 10px;
  padding-top: 5px;
}

.cargo__list-heading {
  display: flex;
  flex-direction: row;
}

.cargoType {
  /* min-width: 12vw; */
  width: 10vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(255, 255, 255);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
}

.carType {
  min-width: 8vw;
  /* min-width: 100px; */
  width: 8vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(255, 255, 255);
  padding: 5px;
}

.carType input {
  border-left: 4px;
}

.QTY {
  min-width: 5vw;
  /* min-width: 50px; */
  width: 5.5vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(255, 255, 255);
  padding: 5px;
}

.Noofcars {
  min-width: 5vw;
  /* min-width: 50px; */
  width: 5.7vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(255, 255, 255);
  padding: 5px;
}

.Loaded {
  /* min-width: 140px; */
  min-width: 9vw;
  width: 9vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255);
  padding: 5px;
}

.cargo_del {
  /* min-width: 140px; */
  min-width: 2vw;
  width: 2vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
}

.footer-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 2px;
  font-size: 1vw;
  width: 30%;
  background-color: rgb(0, 0, 0);
}
