/****************************/
.modal-info-container {
  display: block;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  background-color: rgb(235, 235, 235, 0.5);
  animation: Model ease 3s 1 forwards;
}

@keyframes Model {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.welcome-message {
  font-size: 35px;
  padding: 10px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;
}

.intro-message {
  max-width: 300px;
  padding: 10px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.intro-footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.welome-window-content {
  padding: 50px;
  height: 500px;
  justify-content: space-evenly;
  background-color: #ffee00;
}

/*Info Modal*/
.i-modal {
  visibility: hidden;
  transition: all 0.4s;
  opacity: 0;
}
.i-modal.open {
  visibility: visible;
  opacity: 1;
}

.i-modal,
.i-modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}

.i-modal,
.i-modal-card,
.i-modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.i-modal-content {
  overflow: auto;
  text-align: left;
  color: black;
  flex-grow: 1;
}

.i-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.i-modal-body {
  z-index: 101;
  margin: auto;
  max-height: calc(100vh - 1rem);
  max-width: calc(100vw - 1rem);
  border-radius: 10px;
  overflow: hidden;
  width: 800px;
  height: 500px;
  background: white;
}

.i-modal-header,
.i-modal-content,
.i-modal-footer {
  padding: 1rem;
}

.i-modal-header {
  background: rgb(3, 31, 41);
  text-transform: capitalize;
  font-size: 1.25rem;
  color: white;
  font-weight: bold;
}

.i-modal-footer {
  color: #000;
  display: flex;
  justify-content: space-between;
}

/*Welcome Modal*/
.w-modal {
  visibility: hidden;
  transition: all 0.4s;
  opacity: 0;
}
.w-modal.open {
  visibility: visible;
  opacity: 1;
}

.w-modal,
.w-modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}

.w-modal,
.w-modal-card,
.w-modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.w-modal-content {
  overflow: auto;
  flex-grow: 1;
}

.w-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.w-modal-body {
  z-index: 101;
  margin: auto;
  max-height: calc(100vh - 1rem);
  max-width: calc(100vw - 1rem);
  border-radius: 10px;
  overflow: hidden;
  width: 500px;
  height: 300px;
  background: white;
}

.w-modal-header,
.w-modal-content,
.w-modal-footer {
  padding: 1rem;
}

.w-modal-header {
  background: rgb(3, 31, 41);
  text-transform: capitalize;
  font-size: 1.25rem;
  color: #ffee00;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}

.w-modal-content {
  font-size: 1.2rem;
}

.w-modal-body a {
  text-decoration: none;
  color: #082c3a;
  font-weight: normal;
  transition: 0.3s;
}

.w-modal-body a:hover {
  color: rgb(245, 0, 0);
  /* font-weight: bold; */
}

.w-modal-footer {
  display: flex;
  justify-content: space-between;
}

/* Clear Workspace Modal */
.cw-modal {
  visibility: hidden;
  transition: all 0.4s;
  opacity: 0;
}
.cw-modal.open {
  visibility: visible;
  opacity: 1;
}

.cw-modal,
.cw-modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}

.cw-modal,
.cw-modal-card,
.cw-modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cw-modal-content {
  overflow: auto;
  flex-grow: 1;
}

.cw-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.cw-modal-body {
  z-index: 101;
  margin: auto;
  max-height: calc(100vh - 1rem);
  max-width: calc(100vw - 1rem);
  border-radius: 10px;
  overflow: hidden;
  width: 400px;
  background: white;
}

.cw-modal-header,
.cw-modal-content,
.cw-modal-footer {
  padding: 1rem;
}

.cw-modal-header {
  background: rgb(3, 31, 41);
  text-transform: capitalize;
  font-size: 1.25rem;
  color: #ffee00;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}

.cw-modal-content {
  font-size: 1.2rem;
}

.cw-modal-footer {
  display: flex;
  justify-content: space-around;
}

/* Alert Modal */
.alert-modal {
  visibility: hidden;
  transition: all 0.4s;
  opacity: 0;
}
.alert-modal.open {
  visibility: visible;
  opacity: 1;
}

.alert-modal,
.alert-modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}

.alert-modal,
.alert-modal-card,
.alert-modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.alert-modal-content {
  overflow: overlay;
  text-align: center;
  flex-grow: 1;
}

.alert-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.alert-modal-body {
  z-index: 101;
  margin: auto;
  max-height: calc(100vh - 1rem);
  max-width: calc(100vw - 1rem);
  border-radius: 10px;
  overflow: hidden;
  width: 400px;
  background: white;
}

.alert-modal-header,
.alert-modal-content,
.alert-modal-footer {
  padding: 1rem;
}

.alert-modal-header {
  background: rgb(255, 0, 0);
  text-transform: capitalize;
  font-size: 1.25rem;
  color: #ffee00;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}

.alert-modal-content {
  font-size: 1.2rem;
}

.alert-modal-body a {
  text-decoration: none;
  color: #082c3a;
  font-weight: normal;
  transition: 0.3s;
}

.alert-modal-body a:hover {
  color: rgb(245, 0, 0);
  /* font-weight: bold; */
}

.alert-modal-footer {
  display: flex;
  justify-content: center;
}
