* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    padding-right: 100px;
    /* display: flex;
    flex-direction: column; */
    
}

.container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    /* background-color: black; */
}

.controls {
    background: rgb(3, 31, 41);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 20px; */
}

.controls label {
  margin-right: 10px;
  color: rgb(255, 0, 0);
  font-size: large;
  padding: 5px;
}

.right__side__controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear__workspace {
    font-size: 15px;
    padding: 5px;
    display: none;
    margin-left: 15px;
}

.clear__workspace:hover {
    background-color: red;
    color: white;
}

.views-container {
  flex-grow: 1;
  display: flex;
  background-image: url("bg.jpg");
  background-size: cover;
}

.views {
    background-color: rgba(0, 0, 0,0.3);
    display: flex;
    flex-direction: row;
    width: 90vw;
    /* margin: auto; */
    flex-grow: 100;
    margin: 20px;
    /* overflow: auto; */
    border-radius: 20px;
    padding: 15px;
}

.column__one {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80vh;
    border: 1px solid #ca4d4d;
    padding-bottom: 30px;
}


/* Engine container styles*/
.engine__view {
    height: 350px;
    display: flex;
    flex-direction: column;
    border: 1px solid #888888;
}

.engine__view-heading{
    border-bottom: 1px solid #888888;
    display: flex;
    justify-content: space-between;
    align-items: center 
}

.engine__view-heading h2{
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 3px;
}

.engine__view-body {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.add__engine {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.engine__list-heading {
    display: flex;
    flex-direction: row;
    background-color: #76aef1;
    padding: 10px;
    justify-content: space-around;
}

.engine__list-engine-heading {
    min-width: 210px;
    padding: 10px;
}

.engine__list-engine-teffort {
    padding: 10px;
    min-width: 130px;
    max-width: 130px;
}

.engine__list-engine-eweight {
    padding: 10px;
    min-width: 100px;
    max-width: 110px;
}

.engine__list-engine-tweight {
    padding: 10px;
    min-width: 100px;
    max-width: 110px;
}

.engine__list {
    flex-grow: 1;
}

.engine__container {
    padding: 0px 10px;
    border: 1px solid #888888;
}

.display__engine {
    display: flex;
    flex-direction: column;
}

.display__tender {
    visibility: hidden;
}
/*Result container styles*/
.result__view {
    flex-grow: 1;
    /* border: 1px solid #000000; */
}

.result__view-heading {
  border-bottom: 1px solid #070404;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result__view-heading h2 {
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 3px;
}

/*Cargo container styles*/
.column__two {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 30px;
    border: 1px solid black;
    height: 80vh;
    width: 50%;
}

.cargo__view {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.cargo__view-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #888888;
}

.cargo__view-heading h2{
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 3px;
}

.add__cargo{
    display: flex;
    justify-content: flex-end;
}

.cargo__view-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.cargo__list-heading {
  display: flex;
  flex-direction: row;
}

.Container {
  display: flex;  
  width: fit-content;
  /* background-color: rgb(96, 226, 63); */
}

.Container h1 {
  font-size: 25px;
}

.Container select {
  margin-right: 12px;
  background-color: white;
}

.Container input {
  background-color: white;
}
 
.inner-container {
  background-color: rgb(240, 149, 133);
  border: 1px solid blue;
}

.cargoType {
  min-width: 150px;
  width: 12vw;
  background-color:transparent;
  border: 1px solid black;
  padding: 5px;
}

.carType {
  min-width: 100px;
  width: 8vw;
  background-color:transparent;
  border: 1px solid black;
  padding: 5px;
}

.carType input{
  disabled: true;
}

.QTY {
  min-width: 50px;
  width: 5vw;
  background-color:transparent;
  border: 1px solid black;
  padding: 5px;
}

.Noofcars {
  min-width: 50px;
  width: 5vw;
  background-color:transparent;
  border: 1px solid black;
  padding: 5px;
}

.Loaded {
  min-width: 140px;
  width: 10vw;
  background-color:transparent;
  border: 1px solid black;
  padding: 5px;
}

.color {
  background-color: turquoise;
  border: 1px solid black;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 25px;
    /* background-color: beige; */
    /* margin-top: 20px; */
    background: transparent;
}


/*button*/
.custom-btn {
    width: 150px;
    height: 30px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    margin: 5px;
  }

  .btn-6 {
    background: rgb(252, 218, 30);
    background: radial-gradient(circle, rgb(37, 37, 37) 0%, rgb(0, 0, 0) 100%);
    /* line-height: 42px; */
    padding: 0px;
    border: none;
  }
  .btn-6 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-6:before,
  .btn-6:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
   /* box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3); */
  }
  .btn-6:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
  }
  .btn-6:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
  }
  .btn-6:hover{
    background: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-weight: medium;
    box-shadow: none;
  }
  .btn-6:hover:before {
    transition: all 500ms ease;
    height: 100%;
  }
  .btn-6:hover:after {
    transition: all 500ms ease;
    height: 100%;
  }
  .btn-6 span:before,
  .btn-6 span:after {
    position: absolute;
    content: "";
    /* box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3); */
  }
  .btn-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .btn-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .btn-6 span:hover:before {
    width: 100%;
  }
  .btn-6 span:hover:after {
    width: 100%;
  }

  /* Select */
  /* .select-custom {
    height: 25px;
    width: 10vw;
    border: 0px;
    cursor: pointer;
    padding: 0px 2px;
	  background-color: white;
	  box-shadow: 2px 2px 0 rgb(0, 0, 0);
	  border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
  } */
