* {
    margin: 0px;
    padding: 0px;
}

h2{
  padding: 5px;
  padding-left: 10px;
  color: #ffee00;
  font-weight: bold;
  letter-spacing: 3px;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  /* padding-right: 100px; */
}

.container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    /* background-color: black; */
}

.controls {
    background: rgb(3, 31, 41);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 20px; */
}

.controls label {
  margin-right: 10px;
  color: rgb(255, 0, 0);
  font-size: large;
  padding: 5px;
}

.right__side__controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.views-container {
  flex-grow: 1;
  display: flex;
  background-image: url("bg.jpg");
  background-size: cover;
}

.views {
    background-color: rgba(0, 0, 0,0.4);
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 80vh;
    /* margin: auto; */
    flex-grow: 100;
    margin: 10px;
    /* overflow: auto; */
    border-radius: 20px;
    padding: 15px;
}

.column__one {
    display: flex;
    flex-direction: column;
    /* padding-bottom: 30px; */
    border: 2px solid rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 80vh;
    width: 50%;
}


/* Engine container styles*/
.engine__view {
    display: flex;
    flex-direction: column;
    height: 63%;
}

.engine__view-heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ffffff;
}

.add__engine {
  display: flex;
  justify-content: flex-end;
}

.engine__view-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  overflow: auto;
  padding: 10px;
  padding-top: 5px;
}

/* .engine__list-heading {
  display: flex;
  flex-direction: row;
} */

.engine {
  min-width: 12vw;
  /* width: 12vw; */
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(255, 255, 255);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
}

.teffort {
  min-width: 8vw;
  /* min-width: 100px; */
  width: 8vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(255, 255, 255);
  padding: 5px;
}

.eweight {
  min-width: 8vw;
  /* min-width: 100px; */
  width: 8vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(255, 255, 255);
  padding: 5px;
}

.tweight {
  min-width: 10vw;
  /* min-width: 140px; */
  width: 10vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255);
  padding: 5px;
}

.engine_del {
  min-width: 2vw;
  width: 2vw;
  font-size: 1vw;
  /* height: 1.4vw; */
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  
}

.fas {
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  cursor: pointer;
}

.fas:hover {
  color: #ffee00;
}

.engine_del:hover {
  color: red;
}

.cargo_del:hover {
  color: red;
}

/* .engine__list-engine-heading {
    min-width: 210px;
    padding: 10px;
}

.engine__list-engine-teffort {
    padding: 10px;
    min-width: 130px;
    max-width: 130px;
}

.engine__list-engine-eweight {
    padding: 10px;
    min-width: 100px;
    max-width: 110px;
}

.engine__list-engine-tweight {
    padding: 10px;
    min-width: 100px;
    max-width: 110px;
} */

.engine__list {
    flex-grow: 1;
}

/* .engine__container {
    padding: 0px 10px;
    border: 1px solid #888888;
} */

.display__engine {
    display: flex;
    flex-direction: column;
}

.display__tender {
    visibility: hidden;
}
/*Result container styles*/
.result__view {
    flex-grow: 1;
    /* border: 1px solid #000000; */
}

.result__view-heading {
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result__view-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  overflow: auto;
  padding: 10px;
}

.train-weight {
  min-width: 14vw;
  width: 14vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(255, 255, 255);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
}

.max-pull {
  min-width: 14vw;
  width: 14vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(255, 255, 255);
  padding: 5px;
}

.net-pull {
  min-width: 14vw;
  width: 14vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
}

.result_list {
    flex-grow: 1;
}

.result__train-weight {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1vw;
}

.result_msg-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 10px;
}

.result_msg {
  border: 2px white;
  border-style: dashed;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1vw;
  font-weight: bold;
  letter-spacing: 1px;
  width: 30vw;
  height: 1.5vw;
  text-align: center;
  padding: 2px;
  /* visibility: hidden; */
}

/* .result__view-heading h2 {
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 3px;
} */


/*Cargo container styles*/
.column__two {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* padding-bottom: 20px; */
    border: 2px solid rgb(255, 255, 255);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 80vh;
    width: 50%;
}

.cargo__view {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.cargo__view-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ffffff;
}

.add__cargo{
    display: flex;
    justify-content: flex-end;
}

.cargo__view-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  overflow: auto;
  padding: 10px;
  padding-top: 5px;
}

.cargo__list-heading {
  display: flex;
  flex-direction: row;
}

.Container {
  display: flex;  
  flex-direction: row;
  /* flex-grow: 1; */
  margin: 5px 0px;
}

  .Container h1 {
    font-size: 1.0vw;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    flex-grow: 1; */
    overflow: hidden;
    padding: 5px;
  }

  .Container select {
    margin-right: 13px;
    background-color: rgba(0, 0, 0, 0.24);
    font-size: 1vw;
    color: rgb(255, 255, 255);
    min-height: 2.5vw;
    height: 4vh;
    border: 2px solid #ffffff;
  }

  .Container select option {
    background-color: #082c3a;
  }

  .Container select:focus {
    outline: none;
  }

  /* .container select-items {
    background-color: #031f29;
  } */


  .Container input {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 1vw;
    text-rendering: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
  }

  .Container input:focus {
    outline: none;
  }

  .Container i {
    font-size: 1.0vw;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    flex-grow: 1; */
    overflow: hidden;
    padding: 5px;
  }

  @keyframes append-animate {
    from {
      transform: scaleY(0);
      opacity: 0;
    }
    to {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  .new-Container {
    transform-origin: 50% 0;
	  animation: append-animate .2s linear;
  }
 
.cargoType {
  /* min-width: 12vw; */
  width: 10vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(255, 255, 255);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
}

.carType {
  min-width: 8vw;
  /* min-width: 100px; */
  width: 8vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(255, 255, 255);
  padding: 5px;
}

.carType input {
  border-left: 4px;
}

.QTY {
  min-width: 5vw;
  /* min-width: 50px; */
  width: 5.5vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(255, 255, 255);
  padding: 5px;
}

.Noofcars {
  min-width: 5vw;
  /* min-width: 50px; */
  width: 5.7vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(255, 255, 255);
  padding: 5px;
}

.Loaded {
  /* min-width: 140px; */
  min-width: 9vw;
  width: 9vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255);
  padding: 5px;
}

.cargo_del{
  /* min-width: 140px; */
  min-width: 2vw;
  width: 2vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
}


/* .color {
  background-color: turquoise;
  border: 1px solid black;
} */

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 2px;
    padding-bottom: 30px;
    background-color: rgb(0, 0, 0);
    
}

  /* Select */
   .select-custom {
    height: 25px;
    width: 10vw;
    border: 0px;
    cursor: pointer;
    padding: 0px 5px;
	  background-color: white;
	  box-shadow: 2px 2px 0 rgb(0, 0, 0);
	  border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
  }

  /* ScrollBar Css */
  ::-webkit-scrollbar {
    background: transparent;
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 100px;
    border:  3px transparent solid white;  
    box-shadow: inset 0px 0px 2px 1px  hsl(230, 100%, 0%, 50%);
  }
  
  ::-webkit-scrollbar-thumb{
    border-radius: 100px;
    border:  3px transparent solid;
    box-shadow: inset 0 0 0px 100px rgba(255, 255, 255, 0.5);
  }
  
  ::-webkit-scrollbar-thumb:hover{
    box-shadow: inset 0 0 0px 100px rgb(255, 255, 255);
  }
  
  ::-webkit-scrollbar-button{
    background: transparent;
  } 
